
#formy {

    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}


#field {
	border: none;
	font-size: 48px;
	font-family: Helvetica;
    text-align: center;
}

#field:focus {
	outline-width: 0;
	outline: none;
}

#splash {
	font-size: 150px;
    font-family: Helvetica;
    margin: auto;
    height: 100%;
    text-align: center;
}